<h1>Program by Shuting Yang</h1>
<% if @crecord %>
    <ul>
        <li><%= @crecord.id =%></li>
        <li><%= @crecord.cid =%></li>
        <li><%= @crecord.date =%></li>
        <li><%= @crecord.cases =%></li>
        <li><%= @crecord.deaths=%></li>
        <li><%= @crecord.name_fr =%></li>
        <li><%= @crecord.name_en =%></li>
    </ul>
<% end %>